# Ignore Local .terraform directories
**/.terraform/*

# Ignore .tfstate files
*.tfstate
*.tfstate.*

# Ignore Crash log files
crash.log

# Ignore Terraform plan file
*.out

# Ignore test file for testing lambda in aws console
testfile.js

#terraform lock file
.terraform.lock.*

#key files
*.pub
*.pem